<% layout('/layouts/boilerplate') -%>

    <div class="row mt-3">
        <div class="col-8 offset-2 mt-4">
            <h2>Edit your listing</h2>
            <br>
            <form method="post" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation">
    
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" name="listing[title]" value=<%=listing.title%> required> 
                    <div class="invalid-feedback">
                        Title should be valid
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
    
                <div class="mb-3">
                    <label for="title" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" required ><%=listing.description%></textarea>
                    <div class="invalid-feedback">
                        Description should be valid
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image Link/URL</label>
                    <input type="url" class="form-control" name="listing[image]" value = <%=listing.image%> required >
                    <div class="invalid-feedback">
                        URL should be valid
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>    
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" class="form-control" name="listing[price]" value = <%=listing.price%> required >
                        <div class="invalid-feedback">
                            Price should be valid
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" class="form-control" name="listing[location]" value = <%=listing.location%> required>
                        <div class="invalid-feedback">
                            Location should be valid
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" class="form-control" name="listing[country]" value= <%=listing.country%> required>
                    <div class="invalid-feedback">
                        Country should be valid
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                
            
                <button class="btn btn-dark edit-btn mt-3" >Edit</button>
            </form>
        </div>
        
    </div>
   

