<% layout('/layouts/boilerplate') -%>
<body>
    <div class="row">
        <div class="col-8 offset-2 mt-4">
            <h2>Edit your listing</h2>
            <br>
            <form method="post" action="/listings/<%= listing._id %>?_method=PUT">
    
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" name="listing[title]" value=<%=listing.title%> >
                </div>
    
                <div class="mb-3">
                    <label for="title" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" ><%=listing.description%></textarea>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image Link/URL</label>
                    <input type="url" class="form-control" name="listing[url]" value=<%=listing.image.url%>>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" class="form-control" name="listing[price]" value=<%=listing.price%>>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" class="form-control" name="listing[location]" value=<%=listing.location%>>
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" class="form-control" name="listing[country]" value=<%=listing.country%>>
                </div>
                
            
                <button class="btn btn-dark edit-btn mt-3" >Edit</button>
            </form>
        </div>
        
    </div>
   
</body>
